global
    log stdout format raw local0
    maxconn 256
defaults
    log global
    mode http
    timeout connect 5s
    timeout client 1h
    timeout server 1h

frontend docker_api
    bind :2375

    acl allowed_method method GET HEAD
    http-request deny unless allowed_method

    default_backend docker_socket

backend docker_socket
    server docker /var/run/docker.sock
