COMPOSE_PROJECT_NAME=liberty_research_032

APP_IMAGE=the_liberty_articulator:0.3.2-debian

PUBLIC_HOST=thelibertyarticulator.com
EDITOR_HOST=editor.thelibertyarticulator.com
PUBLIC_ORIGIN=https://thelibertyarticulator.com

POSTGRES_DB=liberty_articulator

REQUIRE_CF_ACCESS=1
CF_ACCESS_TEAM_DOMAIN=libertymaster.cloudflareaccess.com
CF_ACCESS_AUD=REPLACE_WITH_CF_ACCESS_AUD

R2_BUCKET_NAME=liberty01bucket
R2_ENDPOINT_URL=https://d1ad9b86159e2a58932f1ab28886c91c.r2.cloudflarestorage.com
R2_CUSTOM_DOMAIN=assets.thelibertyarticulator.com

GUNICORN_WORKERS=2
GUNICORN_THREADS=2

CELERY_CONCURRENCY=2

LOG_LEVEL=INFO

EMAIL_HOST=smtp.protonmail.ch
EMAIL_PORT=587
EMAIL_HOST_USER=libertymaster@thelibertyarticulator.com
DEFAULT_FROM_EMAIL=libertymaster@thelibertyarticulator.com

DOCKER_DATA_ROOT=/srv/docker/engine

KEYCLOAK_HOST=keycloak.thelibertyarticulator.com
KEYCLOAK_APP_IMAGE=liberty_keycloak:0.3.0
